.landing-page {
  width: min(60rem, 100%);
}

.long-text {
  @apply whitespace-nowrap overflow-ellipsis overflow-hidden;
}

.mrkdown {
  font-family: Satoshi, sans-serif !important;

  pre, code {
    font-family: AelpFiraCode !important;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  h1 {
    @apply font-bold text-3xl;
  }

  h2 {
    @apply font-bold text-2xl;
  }

  h3 {
    @apply font-bold text-xl;
  }

  h4 {
    @apply font-bold text-lg;
  }

  // h5 {
  //   @apply font-bold text-md;
  // }

  h6 {
    @apply font-bold text-sm;
  }

  p, li {
    @apply font-medium;
  }
}
